<ion-header>
  <ion-navbar>
    <ion-title>
      Football AI
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-card *ngFor="let stat of statsDatasets">
      <ion-card-header>
          {{stat.title}}
        </ion-card-header>
      <ion-card-content>
        <canvas id="{{stat.element_id}}"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let tactic of tactics">
      <ion-card-header>
        {{tactic.title}}
      </ion-card-header>
      <ion-card-content>
        {{tactic.message}}
      </ion-card-content>
      <div class="divider"></div>
      <ion-card-header>
        Drills
      </ion-card-header>
      <ion-card-content>
        <p *ngFor="let drill of tactic.drills">
          {{drill}}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
