page-tactics {

  ion-content {
    background-color: #EDEDED !important;
  }

  ion-card {
    .divider {
      min-width: 200px;
      width: 75%;
      max-height: 1px;
      min-height: 0.5px;
      margin: 0 auto;
      background-color: gainsboro;
    }

    h3 {
      margin: 10px auto 0 auto;
    }
  }

  ion-card-header {
    text-align: center;
  }
}
