<ion-header>
  <ion-navbar>
    <ion-title>Match</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-content">
  <ion-list>
    <div class="match-container">
      <table class="match-score-container">
        <tr>
          <td class="left-col">{{match.homeTeam}}</td>
          <td class="stat">{{match.stats[0].homeValue}} - {{match.stats[0].awayValue}}</td>
          <td class="right-col">{{match.awayTeam}}</td>
        </tr>
      </table>
      <div id="date">{{match.getDateString()}}</div>
      <table class="match-stat-container">
        <tr class="stat" *ngFor="let stat of match.stats">
          <td class="left-col">{{stat.homeValue}}</td>
          <td class="stat">{{stat.displayName}}</td>
          <td class="right-col">{{stat.awayValue}}</td>
        </tr>
      </table>
    </div>

    <ion-item-divider>
      Tactical Analysis
    </ion-item-divider>

    <ion-card *ngFor="let tactic of tactics">
      <ion-card-header>
        {{tactic.title}}
      </ion-card-header>
      <ion-card-content>
        {{tactic.message}}
      </ion-card-content>
      <div class="divider"></div>
      <ion-card-header>
        Drills
      </ion-card-header>
      <ion-card-content>
        <p *ngFor="let drill of tactic.drills">
          {{drill.name}}
        </p>
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>
