page-match {

  .match-container {
    background-color: #FFFFFF;
    padding: 8px;
    text-align: center;

    .match-stat-container {
      width: 100%;
      margin-bottom: 8px;

      .left-col {
        width: 40%;
        text-align: left;
      }

      .stat {
        width: 20%;
      }

      .right-col {
        text-align: right;
      }
    }

    #date {
      font-size: 0.8em;
    }
  }
}
