page-match {

  .match-container {
    background-color: #FFFFFF;
    padding: 16px;
    text-align: center;

    .match-score-container {
      width: 100%;

      tr > td {
        padding-bottom: 12px;
      }

      .left-col {
        width: 40%;
        text-align: left;
        font-size: 1.15em;
      }

      .stat {
        width: 20%;
      }

      .right-col {
        width: 40%;
        text-align: right;
        font-size: 1.15em;
      }
    }

    .match-stat-container {
       width: 100%;

       tr > td {
         padding-bottom: 12px;
       }

       .left-col {
         width: 20%;
         text-align: left;
       }

       .stat {
         width: 60%;
       }

       .right-col {
         width: 20%;
         text-align: right;
       }
     }

    #date {
      font-size: 0.8em;
      margin-bottom: 16px;
    }
  }

  ion-item-divider {
    text-align: center;
    color: white !important;
    background-color: #4CAF50 !important;
    margin: 8px 0;
  }

  ion-card {
    .divider {
      min-width: 200px;
      width: 75%;
      max-height: 1px;
      min-height: 0.5px;
      margin: 0 auto;
      background-color: gainsboro;
    }
  }

  ion-card-header {
    text-align: center;
  }
}
